<div class="container" >
    <h1 class="title">Products</h1>

    {{> categories categoryArray=categoryArray}}
    {{#if response.payload}}
        
        <div class="row justify-content-center align-items-center gap-3">
        {{#each response.payload}}
            <div class="product card p-3 m-2 col-sm-4" style="min-height: 25vh;">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">Price: ${{price}}</p>
            </div>
        {{/each}}
        </div>


        <div class="pagination">
            {{#if response.hasPrevPage}}
                <a href={{response.prevLink}}>&lt;&lt; Anterior</a>
            {{/if}}
            
            &nbsp;
            {{response.page}}
            &nbsp;
            
            {{#if response.hasNextPage}}
                <a href={{response.nextLink}}>Siguiente &gt;&gt;</a>
            {{/if}}
        </div>
    {{else}}
        <h1 class="no-products">No hay productos para mostrar</h1>
    {{/if}}
</div>

<style>
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
    }

    .product {
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .product p {
        margin: 5px 0;
    }

    .pagination {
        margin-top: 20px;
    }

    .pagination a {
        padding: 5px 10px;
        margin: 0 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
        text-decoration: none;
        color: #333;
    }

    .pagination a:hover {
        background-color: #eee;
    }

    .no-products {
        font-size: 24px;
        color: #999;
        text-align: center;
        margin-top: 20px;
    }
</style>
